<!DOCTYPE html>
<html>
<head>
  <title>Taskman - Task Management Tools</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'shared/header' %>
    <div id="contents">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
