<h1>Taskman へようこそ</h1>
<p><%= link_to 'ログイン', [ :new, :user_session ]  %></p>
<p><%= link_to 'ユーザー登録', [ :new, :user_registration ]  %></p>
<p><%= link_to 'パスワード再発行', [ :new, :user_password ]  %></p>
